
// Body
$body-bg: #f5f8fa;
$body-margin: 0;
$body-padding: 0;

// Page Container
$page-width: 1200px;
$page-margin: 0 auto;

// Palette

$white: #fff;
$maroon: #6d0911;
$dk-maroon: #2b0306;
$reddish: #cf0004;
$nav-bg-color: rgba(0,0,0,.5);

// Percetages

$full-per: 100%;

// Positions

$abs: absolute;
$rel: relative;

// Displays

$none: none;
$block: block;

// Pixel Palette

$zero-px: 0px;

// Header

// Navigation
$nav-top: 0;
$nav-left: 0;
$nav-padding: 50px 0 0 0;
$nav-width: 100%;
$nav-ul-mar: 0;
$nav-ul-pad: 0;
$nav-ul-li-a-dis: inline-block;
$nav-ul-li-a-pad: 10px 20px;

$nav-ul-li-a-wid: 125px;
$nav-ul-li-a-pos: relative;

// Typography
$font-family: 'Open Sans', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #555;
$font-weight: 300;

// Buttons

// Inputs
// $input-border: lighten($text-color, 40%);
