
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

// Variables
@import "variables";

// Global

body {
  background: $body-bg;
  margin: $body-margin;
  padding: $body-padding;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  font-weight: $font-weight;
}

#page {
  width: $page-width;
  margin: $page-margin;
  position: $page-pos;
}

// Navigation

nav {
  background-color: $nav-bg-color;
  position: $nav-pos;
  top: $nav-top;
  left: $nav-left;
  padding: $nav-padding;
  width: $nav-width;
}

nav::after { content:''; display: block; clear: both; }

nav ul { list-style: $nav-ul-list; margin: $nav-ul-mar; padding: $nav-ul-pad; }
nav ul li:hover { background-color: $nav-ul-li-bg; }
nav ul li:hover > ul { display: $nav-ul-li-bg-ul-block; }
