
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
  background: $body-bg;
  margin: $body-margin;
  padding: $body-padding;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  font-weight: $font-weight;
}

#page {
  width: $page-width;
  margin: $page-margin;
  position: $page-pos;

}
